<a href="https://colab.research.google.com/github/pridenous/NumPyLeasson/blob/master/ninethLeasson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

In [1]:
 import numpy as np
 import pandas as pd

# **Pandas Series**

Create Simple pandas variabel from **scratch**

In [4]:
g7_pop = pd.Series([19.933,188.1772,17.293,1.000,3.372])
g7_pop

0     19.9330
1    188.1772
2     17.2930
3      1.0000
4      3.3720
dtype: float64

 dapat dilihat inisiasi varibel pandas tidak jauh berbeda dengan **list** pada Python

In [8]:
g7_pop.name = "G7 Population on milion" #Penamaan Series

In [7]:
g7_pop

0     19.9330
1    188.1772
2     17.2930
3      1.0000
4      3.3720
Name: G7 Population on milion, dtype: float64

In [12]:
g7_pop.dtype #Tipe Data Series

dtype('float64')

In [14]:
g7_pop.values #Value of G7_pop

array([ 19.933 , 188.1772,  17.293 ,   1.    ,   3.372 ])

In [18]:
type(g7_pop.values) #Spesific data type values

numpy.ndarray

**Seleksi Series**

In [19]:
g7_pop

0     19.9330
1    188.1772
2     17.2930
3      1.0000
4      3.3720
Name: G7 Population on milion, dtype: float64

In [22]:
g7_pop[1] #Tampilkan data pada index ke 1

188.1772

In [23]:
g7_pop.index

RangeIndex(start=0, stop=5, step=1)

Dapat terlihat perintah ``g7_pop.index`` menghasilkan output diatas karena **index** masih terdefinisi sebagai angka, maka dapat diubah dengan cara melakukukan penamaan kepada tiap **index**

In [25]:
g7_pop.index= [
              'Italy',
              'Canada',
              'USA',
              'Indonesia',
              'Brazil'
]

In [26]:
g7_pop.index #Cek Index

Index(['Italy', 'Canada', 'USA', 'Indonesia', 'Brazil'], dtype='object')

In [27]:
g7_pop

Italy         19.9330
Canada       188.1772
USA           17.2930
Indonesia      1.0000
Brazil         3.3720
Name: G7 Population on milion, dtype: float64

Ada beberapa metode lain dalam hal pembuatan series dari 0 (**scratch**)<h5>
``#Metode 1``

In [32]:
pd.Series({
           'Italy' : 19.9330,
           'Canada'  : 188.1772,
           'USA'  : 17.2930,
           'Indonesia' : 1.0000,
           'Brazil' : 3.3720
}, name = 'G7 Population on milion')

Italy         19.9330
Canada       188.1772
USA           17.2930
Indonesia      1.0000
Brazil         3.3720
Name: G7 Population on milion, dtype: float64

``#Metode 2``

In [33]:
  pd.Series(
      [19.9330,188.1772,17.2930,1.0000,3.3720],
      index=['Italy','Canada','USA','Indonesia','Brazil'],
      name='G7 Population on milion'
  )

Italy         19.9330
Canada       188.1772
USA           17.2930
Indonesia      1.0000
Brazil         3.3720
Name: G7 Population on milion, dtype: float64

#**Indexing** <h1>
Setelah dilakukan penamaan dalam index, maka dalam pemanggilannya akan sangat mudah jika ada salah satu index yang akan dipanggil/diseleksi datanya

In [34]:
g7_pop['Canada'] #Seleksi Index dengan nama 'Canada'

188.1772

In [36]:
g7_pop['Italy'] #Seleksi Index dengan nama 'Italy"

19.933